<div layout="column"  >
 <Section >
  <div ui-ace = "aceOption" ng-model = "aceModel"> </div>
  <Select ng-model = "mode" ng-options = "m for m in modes" ng-change = "modeChanged ()"> </select>
</Section>
 <div layout="row"  >
 	<div class="col-md-6" >
 		 <button class="button1" >Save </button>
 	</div>	 
 	<div class="col-md-6" >	 
 		 <button  >Validate</button>
 	</div>	 
 	<div class="col-md-6" >	 
 		 <button  >Checkin</button>
 	</div>	 
 	<div class="col-md-6" >	 
 		 <button  ng-click="build()">build</button>
 	</div>
 </div>
 </div>
 