.search {
	width:100% !important;
}
#treeListview {
	width:95%;
}
#graphView .select2-container{
    /*width: 100%;
    top: 35%;
    right: 20px;*/
    margin-top: 64px;
    margin-left: 0px;
    width: 100%;
}
#treeListview .select2-container{
	/*width: 100%;
    top: 73%;
    left: 24px;*/
    margin-top: 64px;
    margin-left: 0px;
    width: 100%;
}

/*#graphView
{
    min-width: 100%;
    overflow: scroll;
}*/ 
#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #A3C3E6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;  
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
}          
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header h2 { 	
    font-size: 15px;
    margin: 9px 0px 0px 0px;
} 

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
	/* padding: 2px 16px; */
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3f51b5;
    color: white;
	height:36px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
#accordion {
     margin-top:10px;
     border:thin solid #cecece;   
     border-top:none;
     border-bottom:none;
}

#accordion div {
    background:white;
    height:95%;
    line-height:25px;
    display:none;
    border-bottom:thin solid #cecece;
    padding-left:15px;
	overflow-y: scroll;}

#accordion label {
    display:block;
    width:auto;
    background:#f4f4f4;
    background-image: -webkit-linear-gradient(white,#ededed);
    background-image: -moz-linear-gradient(white,#ededed);
    background-image: -o-linear-gradient(white,#ededed);
    background-image: -ms-linear-gradient(white,#ededed);
    background-image:linear-gradient(white,#ededed);
    color:#959696;
    padding-left:15px;
    height:40px;
    line-height:40px;
    text-decoration:none;
    border-bottom:thin solid #cecece;    
    font-size:13px;
    font-weight:bold;
    text-shadow:0px 1px 1px white;
	cursor: pointer;
} 


.first {
    border-top:thin solid #cecece;    
}

#accordion .dataTble {    
   /*  border-collapse: collapse; */
    width: 95%;
	margin: 15px;
}
 
/*#accordion .dataTble td, #accordion .dataTble  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}*/ 

#accordion .dataTble td, #accordion .dataTble  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
	font-size: 13px;
} 

#accordion .dataTble  tr:nth-child(even) {
    background-color: #f1f1f1;
}

#back-btn {
position: absolute;
    top: 8px;
    right: 3px;
    z-index: 99;
} 
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
	cursor:pointer;
}