.radioButtondemoBasicUsage body {
    padding: 20px;
}
.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3;
}
.radioButtondemoBasicUsage md-radio-group {
    width: 150px;
}
.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px;
}
.radioButtondemoBasicUsage [ng-controller] {
    padding-left: 20px;
}
.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px;
}
.radioButtondemoBasicUsage md-icon {
    margin: 20px;
    margin-top: 0;
    width: 128px;
    height: 128px;
}
.radioButtondemoBasicUsage .ipsum {
    color: saddlebrown;
    font-size: 0.9em;
}
.textFormatTools {
    font-size: 17px;
    font-weight: 500;
    color: #7e7e7e;
    margin-left: 15px;
}
.list-padding {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.list-side-nav{
  padding: 0px !important;
}
.icon-margin{
  margin-left: 15px;
}
.toolbar-alignment{
  margin-left: 39pc !important;
}
.tools-whiteframe-top{
  background-color: #F2FCE2;
  border-radius: 10px;
  margin-left: 28%;
}
.tools-whiteframe-bottom{
  background-color: #F2FCE2;
  border-radius: 10px;
}
.whiteframe-icon-margin{
      margin-left: -27px;
}
.icon-textDecoration{
  outline: none;
  border: 0;
}
